h1 = t '.title'

strong = t 'common.tasks.name'
p = @task.name
strong = t 'common.tasks.content'
p = @task.content
strong = t 'common.tasks.status'
p = @task.human_attribute_enum(:status)
strong = t 'common.tasks.priority'
p = @task.human_attribute_enum(:priority)
strong = "タグ"
- @task.labels.each do |l|
  p = l.name
strong = t 'common.tasks.deadline'
p = @task.deadline.strftime("%Y-%m-%d %H:%M")